
.minimal-header {
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid #e3e3e3;
  background: #023e8a;
  position: sticky;
  top: 0;
  z-index: 10;
  color: aliceblue;
}

/* Inner layout */
.header-inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  align-items: center;
  text-align: center;
}

/* Title */
.site-title {
  font-size: 1.4rem;
  font-weight: 600;
  
}

/* Navbar layout */
.nav {
  display: flex;
  gap: 32px;
}

/* Nav item */
.nav-item {
  position: relative;
  text-decoration: none;
  color: #fefae0;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 4px;
  transition: color 0.2s ease;
}

/* Hover color */
.nav-item:hover {
  color: #000;
}

/* Thin underline animation */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0%;
  height: 2px;
  background: #000;

  transition: width 0.25s ease;
}

.nav-item:hover::after {
  width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .site-title {
    font-size: 1.1rem;
  }

  .nav {
    gap: 18px;
  }

  .nav-item {
    font-size: 0.9rem;
  }
}
